In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
file = "US_Accidents_Dec20.csv"
acc_df = pd.read_csv(file)
acc_df.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201,3,2/8/16 5:46,2/8/16 11:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201,2,2/8/16 6:07,2/8/16 6:37,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201,2,2/8/16 6:49,2/8/16 7:19,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201,3,2/8/16 7:23,2/8/16 7:53,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201,2,2/8/16 7:39,2/8/16 8:09,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

In [9]:
del acc_df['End_Lat']

In [14]:
acc_df['Turning_Loop'].value_counts()

False    1048575
Name: Turning_Loop, dtype: int64

In [15]:
acc_df.dtypes

ID                        object
Source                    object
TMC                        int64
Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
End_Lng                  float64
Distance(mi)             float64
Description               object
Number                   float64
Street                    object
Side                      object
City                      object
County                    object
State                     object
Zipcode                   object
Country                   object
Timezone                  object
Airport_Code              object
Weather_Timestamp         object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object

In [16]:
acc_df.describe()

,TMC,Severity,Start_Lat,Start_Lng,End_Lng,Distance(mi),Number,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,0.0,1.048575e+06,393341.000000,1.031419e+06,585456.000000,1.029842e+06,1.034656e+06,1.028232e+06,945855.000000,567764.000000
mean,2.094896e+02,2.343474e+00,3.600617e+01,-9.492384e+01,NaN,1.708838e-01,5108.729174,6.251597e+01,55.756308,6.605903e+01,2.966594e+01,9.069763e+00,7.916677,0.013389
std,2.242216e+01,4.865572e-01,4.906603e+00,1.720073e+01,NaN,1.469699e+00,10009.348695,1.776372e+01,21.625142,2.208829e+01,8.401705e-01,2.461824e+00,5.430077,0.186667
min,2.000000e+02,1.000000e+00,2.456309e+01,-1.244583e+02,NaN,0.000000e+00,1.000000,-8.900000e+01,-89.000000,2.000000e+00,1.200000e-01,0.000000e+00,0.000000,0.000000
25%,2.010000e+02,2.000000e+00,3.290783e+01,-1.172749e+02,NaN,0.000000e+00,750.000000,5.100000e+01,39.000000,5.000000e+01,2.953000e+01,1.000000e+01,4.600000,0.000000
50%,2.010000e+02,2.000000e+00,3.520253e+01,-8.816329e+01,NaN,0.000000e+00,2474.000000,6.400000e+01,58.000000,6.800000e+01,2.991000e+01,1.000000e+01,7.000000,0.000000
75%,2.010000e+02,3.000000e+00,4.005737e+01,-8.098193e+01,NaN,1.000000e-02,6486.000000,7.590000e+01,73.000000,8.500000e+01,3.005000e+01,1.000000e+01,10.400000,0.000000
max,4.060000e+02,4.000000e+00,4.899990e+01,-6.806016e+01,NaN,4.417500e+02,990415.000000,2.030000e+02,189.000000,1.000000e+02,5.804000e+01,1.110000e+02,822.800000,10.140000

In [17]:
del acc_df["End_Lng"]

In [18]:
del acc_df["Humidity(%)"]

In [19]:
del acc_df["Wind_Chill(F)"]
del acc_df["Pressure(in)"]

In [20]:
del acc_df["Visibility(mi)"]
del acc_df["Wind_Speed(mph)"]
del acc_df["Start_Lat"]
del acc_df["Start_Lng"]

In [21]:
acc_df.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Distance(mi),Description,Number,Street,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201,3,2/8/16 5:46,2/8/16 11:00,0.01,Right lane blocked due to accident on I-70 Eas...,NaN,I-70 E,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201,2,2/8/16 6:07,2/8/16 6:37,0.01,Accident on Brice Rd at Tussing Rd. Expect del...,2584.0,Brice Rd,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201,2,2/8/16 6:49,2/8/16 7:19,0.01,Accident on OH-32 State Route 32 Westbound at ...,NaN,State Route 32,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201,3,2/8/16 7:23,2/8/16 7:53,0.01,Accident on I-75 Southbound at Exits 52 52B US...,NaN,I-75 S,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201,2,2/8/16 7:39,2/8/16 8:09,0.01,Accident on McEwen Rd at OH-725 Miamisburg Cen...,NaN,Miamisburg Centerville Rd,...,False,False,False,False,True,False,Day,Day,Day,Day

In [22]:
del acc_df["Number"]
del acc_df["Astronomical_Twilight"]
del acc_df["Nautical_Twilight"]

In [23]:
acc_df.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Distance(mi),Description,Street,Side,...,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight
0,A-1,MapQuest,201,3,2/8/16 5:46,2/8/16 11:00,0.01,Right lane blocked due to accident on I-70 Eas...,I-70 E,R,...,False,False,False,False,False,False,False,False,Night,Night
1,A-2,MapQuest,201,2,2/8/16 6:07,2/8/16 6:37,0.01,Accident on Brice Rd at Tussing Rd. Expect del...,Brice Rd,L,...,False,False,False,False,False,False,False,False,Night,Night
2,A-3,MapQuest,201,2,2/8/16 6:49,2/8/16 7:19,0.01,Accident on OH-32 State Route 32 Westbound at ...,State Route 32,R,...,False,False,False,False,False,False,True,False,Night,Night
3,A-4,MapQuest,201,3,2/8/16 7:23,2/8/16 7:53,0.01,Accident on I-75 Southbound at Exits 52 52B US...,I-75 S,R,...,False,False,False,False,False,False,False,False,Night,Day
4,A-5,MapQuest,201,2,2/8/16 7:39,2/8/16 8:09,0.01,Accident on McEwen Rd at OH-725 Miamisburg Cen...,Miamisburg Centerville Rd,R,...,False,False,False,False,False,False,True,False,Day,Day

In [24]:
del acc_df["Station"]
del acc_df["Source"]

In [25]:
acc_df.head()

,ID,TMC,Severity,Start_Time,End_Time,Distance(mi),Description,Street,Side,City,...,Junction,No_Exit,Railway,Roundabout,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight
0,A-1,201,3,2/8/16 5:46,2/8/16 11:00,0.01,Right lane blocked due to accident on I-70 Eas...,I-70 E,R,Dayton,...,False,False,False,False,False,False,False,False,Night,Night
1,A-2,201,2,2/8/16 6:07,2/8/16 6:37,0.01,Accident on Brice Rd at Tussing Rd. Expect del...,Brice Rd,L,Reynoldsburg,...,False,False,False,False,False,False,False,False,Night,Night
2,A-3,201,2,2/8/16 6:49,2/8/16 7:19,0.01,Accident on OH-32 State Route 32 Westbound at ...,State Route 32,R,Williamsburg,...,False,False,False,False,False,False,True,False,Night,Night
3,A-4,201,3,2/8/16 7:23,2/8/16 7:53,0.01,Accident on I-75 Southbound at Exits 52 52B US...,I-75 S,R,Dayton,...,False,False,False,False,False,False,False,False,Night,Day
4,A-5,201,2,2/8/16 7:39,2/8/16 8:09,0.01,Accident on McEwen Rd at OH-725 Miamisburg Cen...,Miamisburg Centerville Rd,R,Dayton,...,False,False,False,False,False,False,True,False,Day,Day

In [31]:
x_axis = np.arange(len(acc_df))
tick_locations = [value for value in x_axis]

In [ ]:
plt.figure(figsize=(20,3))
plt.bar(x_axis, acc_df["State"], color='r', alpha=0.5, align="center")
plt.xticks(tick_locations, acc_df["Side"], rotation="vertical")